@use "../Variables.scss" as v;

.sidebar {
  background: v.$primary-color;
  color: white;
  min-width: 30%;
  text-align: center;
  padding: 0 1em;

  &__item {
    margin: 2rem 0;
  }

  &__header {
    margin: 3rem 0;
  }

  @media (max-width: 480px) {
    &__list {
      display: none;
    }
    &__header {
      margin: 1rem 0;
    }
  }
}
