@use "../Variables.scss" as v;

.sidebar {
  background: v.$primary-color;
  color: white;
  height: 100%;
  min-width: 30%;
  text-align: center;

  &__list {
    display: inline-block;
    text-align: left;
  }

  &__header {
    margin: 3rem 0;
  }
}
