.page__container {
  width: 80%;
  height: 80vh;
  box-shadow: 0 27px 192px -5px rgba(0, 0, 0, 0.5);
  background: #f9f8fd;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;

  @media (max-width: 480px) {
    flex-direction: column;
    height: 90vh;
  }
}
