@use "../Variables.scss" as v;

.cocktail {
  border-radius: v.$border-radius;
  overflow: hidden;
  height: fit-content;
  &__image {
    width: 100%;
    transition: 500ms;
  }

  &__name {
    font-size: 1rem;
    font-weight: bold;
  }

  &__header {
    background: white;
  }

  &:hover &__image {
    transform: scaleX(-1);
  }
}
